@charset "utf-8";

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  
}

.column {
  float: left;
  /*width: 20%;*/
  padding: 0 10px 25px;
}
/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #85929E;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}



.mytext{
  font-size: 17px;
  text-align: center;
   padding: 0 5px 0 5px;
}
.recadd{
  background-color: #7fad39;
  padding-bottom: 2px; 
  margin-bottom: 5px;
}

.recadd h3{
  text-align:center; padding-top: -5px; color:white;
}

.findbest{
  text-align:center;
   padding-bottom: 10px; 
   color:black;
}